.container1{/*for index.html*/
display:grid;
grid-template-columns:auto 1fr;
grid-gap:.5em;
  margin:1%;
 grid-template-areas:
  "header header"
  "nav main"
  "footer footer"
}
<body>
background:linear-gradient to right: lightgreen,teal;
</body>
.header {
   background-color:red;
   grid-area:header;
  }

.nav {
   background:rgba(0,0,0,2);
   background-color:blue;
   grid-area:nav;
  }

.main {
   background-color:yellow;
   grid-area:main;
  }

.footer {
   background-color:purple;
   grid-area:footer;
  }
