body {
  background:linear-gradient(to right, lightgreen, teal);
  font-family:Verdana;
  margin:0;
  }
header {
   background:rgba(0,0,0,.2);
   grid-area:header;
}
header h1 {
color:meduiumspringgreen;
  text-shadow:2px 2px 5px navy;
 font-size:5vw;
}
header h3 {
  color:navy;
  font-size:2vw;
}

 nav {
   background:rgba(0,0,0,.2);
   grid-area:nav;
}
nav a {
  color:navy;
}
nav ul {
  list-style-type:none;
}
nav ul { 
  padding:10px;
  margin:0;
}
nav li {
    padding:10px 10px;
    list-style-type:none;
    font-size:1.5em;
    font-weight:bold;
}
nav a {
    text-decoration:none;
    color:navy;
}

a:hover {
    color:white;
}

 main {
   background:rgba(0,0,0,.2);
   padding:5px;
   grid-area:main;
}
main h2 {
  color: navy;
  font-size:2em;
}

main p {
  color:white;
}
footer {
  background:rgba(0,0,0,.2);
  grid-area:footer;
}
footer p {
  color:white;
}
.container1{/*for index.html*/
display:grid;
grid-template-columns:auto 1fr;
grid-gap:.5em;
  margin:1%;
 grid-template-areas:
  "header header"
  "nav main"
  "footer footer"
}
