.container1{/*for index.html*/
display:grid;
grid-template-columns:auto 1fr;
grid-gap:.5em;
  margin:1%;
 grid-template-areas:
  "header header"
  "nav main"
  "footer footer"
}
header {
   background:rgba(0,0,0,2);
}
   grid-area:header;
  }
body {
  background:linear-gradient(to right, lightgreen, teal)
  font-family:Veradana;
  margin:0;
  }
