.container1{/*for index.html*/
display:grid;
grid-template-columns:auto 1fr;
grid-gap:.5em;
  margin:1%;
 grid-template-areas:
  "header header"
  "nav main"
  "footer footer"
}
header {
   background:rgba(0,0,0,2);
}
   grid-area:header;
  }
body {
  background:linear-gradient(to right, lightgreen, teal)
  font-family:Verdana;
  margin:0;
  }
header h1 {
meduiumspringgreen;text-shadow:2px 2px 5px navy;
 font-sie:5vw;
}
header h3 {
  color:navy;
  font-size:2vw;
}
main h2 {
  color: navy;
  font-size:3em;
}
nav a {
  color:navy;
}
header {
  background:rgba(0,0,0,2);
}
 nav {
   background:rgba(0,0,0,2)
}
 main {
   background:rgba(0,0,0,2)
   padding:5px;
}
